extends layout

block content
  a(href='users') back
  h1 Add/Edit User
  p #{roleId}
  p #{role}


    form(action="/edituser", method="post")
      input(type="hidden", name="userId", value=user.id, placeholder="UserId")
      input(type="hidden", name="originalRole", value=role, placeholder="OriginalRole")
      input(type="hidden", name="originalRoleId", value=roleId, placeholder="OriginalRoleId")
      input(type="text", name="name", value=user.name, placeholder="Name")
      br
      input(type="text", name="userName", value=user.username, placeholder="UserName")
      br
      input(type="email", name="email", value=user.email, placeholder="Email")
      br
      select(name="newRoleId")
        for val in roles
          if role == val.name
            option(selected value=val.id) #{val.name}
          else  
            option(value=val.id) #{val.name}
      br
      input(type="submit", value="Submit")

 
