extends layout

block content
  h1= diary.name 

  each val, index in activities 
    table   
      tr
        td Activity:
        td Activity #{index}
      tr
        td Name:
        td #{val.name}
      tr
        td Session:
        td #{val.session}
      tr
        td Description:
        td #{val.description}
    
    a(href='deleteActivity?activityId='+val.id+'&diaryId='+diary.id) Delete
    
    br
    br
  
  a(href='addactivity?diaryId='+diary.id) Add Activity
