extends layout

block content
  a(href='diaries') back 

  h1 #{diary.name} - Activities
  each val, index in activities 
    table   
      tr
        td Name:
        td #{val.name}
      tr
        td Session:
        td #{val.session}
      tr
        td Description:
        td #{val.description}
      tr
        td Image:
        td #{val.image_url}
      tr
        td Is Published?
        td #{val.isPublished}
      tr
        td Start Date
        td #{val.start_date}
      tr
        td End Date
        td #{val.end_date}

    
    a(href='editActivity?activityId='+val.id+'&diaryId='+diary.id) Edit
    br
    a(href='deleteActivity?activityId='+val.id+'&diaryId='+diary.id) Delete

    
    br
    br
  
  a(href='addactivity?diaryId='+diary.id) Add Activity
