extends layout

block content
  a(href='home') back
  h1 Users

  table
    th Name
    th email
    th role
    th edit

    for val in users
      tr
        td #{val.name}
        td #{val.email}
        td #{val.role}    
        td 
          a(href='/edituser?userId=#{val.id}&role=#{val.role}&roleId=#{val.roleId}') edit
  br
  a(href='adduser') Add New User
